{% extends 'territorio/base.html' %}
{% block modulo %} Monitorias {% endblock %}

{% block body %}

    {% if messages %}
        {% for m in messages %}
            <br/><div class="container alert alert-{% if m.tags != 'error' %}{{ m.tags }}{% elif m.tags == 'error' %}danger{% endif %}" role="alert">
                {{ m }}
            </div>
        {% endfor %}
    {% endif %}

    <h1>Monitorias</h1>
    <!---->
    <a class="btn btn-info" href="{% url 'territorio:form-monitoria' %}">Crear monitoria</a><br/><br/>
    {% if datos %}
        
        <table class="container table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Categoria</th>
                    <th>Aprendiz</th>
                    <th>Fecha inicio</th>
                    <th>Fecha final</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for i in datos %}
                    <tr>
                        <td>{{i.id}}</td>
                        <td>{{i.cat}}</td>
                        <td>{{i.aprendiz}} {{i.aprendiz.apellido}}</td>
                        <td>{{i.fecha_inicio}}</td>
                        <td>{{i.fecha_final}}</td>
                        <td><a class="btn btn-warning" href="{% url 'territorio:edit-monit' i.id %}">Editar</a></td>
                        <td><a class="btn btn-danger" href="{% url 'territorio:elim-monit' i.id %}">Eliminar</a></td>
                    </tr>    
                {% endfor %}
            </tbody>
        </table>

        <!--Código de la paginación-->
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item {% if not datos.has_previous %} disabled {% endif %}">
    
                    <a class="page-link" {% if datos.has_previous %} href="?page={{ datos.previous_page_number }}" {% endif %} >Anterior</a>
                 
                </li>
    
                {% for i in "x"|rjust:datos.paginator.num_pages|make_list %}
                    
                    <li class="page-item {% if forloop.counter == datos.number %} active {% endif %}">
                        <a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                    </li>
                
                {% endfor %}
    
                <li class="page-item {% if not datos.has_next %} disabled {% endif %}">
    
                    <a class="page-link" {% if datos.has_next %} href="?page={{ datos.next_page_number }}" {% endif %}>Siguiente</a>
    
                </li>
            </ul>
        </nav>
        Page {{ datos.number }} of {{ datos.paginator.num_pages }}.

    {% endif %}
    
{% endblock %}

{% block terrImg %}
    
{% endblock %}
