{% extends 'territorio/base.html' %}
{% block modulo %} Aprendices {% endblock %}

    {% block body %}

        {% if messages %}
            {% for m in messages %}
                <br/><div class="container alert alert-{% if m.tags != 'error' %}{{ m.tags }}{% elif m.tags == 'error' %}danger{% endif %}" role="alert">
                    {{ m }}
                </div>
            {% endfor %}
        {% endif %}

        <h1 style="text-align: center;">Aprendices</h1>

        <a class="btn" href="{% url 'territorio:form-aprendiz' %}">Nuevo aprendiz</a><br>

        {% if datos %}

        <table class="container table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Cédula</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Fecha de nacimiento</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for r in datos %}
                <tr>
                    <td>{{ r.cedula}}</td>
                    <td>{{ r.nombre}}</td>
                    <td>{{ r.apellido}}</td>
                    <td>{{r.fecha_nacimiento}}</td>
                    <td><a class="btn btn-warning" href="{% url 'territorio:edit-aprend' r.cedula %}">Editar</a></td>
                    <td><a class="btn btn-danger" href="{% url 'territorio:elim-aprend' r.cedula %}">Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}
        <h1> No hay datos</h1>
        {% endif %}
    {% endblock %}

    {% block terrImg %}
    
    {% endblock %}
